*{
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "Times New Roman", sans-serif;
  color: #aaa;
}

html, body, #main_div{
  height: 100%;
  width: 100%;
  /*background-color: #181818;*/
  background-color: white;
}

#main_div, .upper_inner_div, .lower_inner_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

#main_div {
  flex-flow: wrap;
}

.upper_inner_div, .lower_inner_div{
  height: 50%;
  width: 100%;
}

.placeholder{
  z-index: 4;
  height: 100%;
  background: url("porra mano ai é foda.png") no-repeat center fixed;
  background-size: contain;
}